.footer {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.footer-logo {
  height: 30px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/*media*/

@media (max-width: 768px) {
  .footer-logo {
    height: 4vh;
  }
}
