.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 100vw;
  height: 60px;
  background-color: rgba(242, 242, 242, 0);
  /* box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2); */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Left part of the navbar (Logo) */

.navbar-logo {
  height: 35px;
  width: auto;
}

.navbar-logo-link {
  cursor: pointer;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: fit-content;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.navbar-links {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s ease;
  margin: 20px;
}

.navbar-links.active {
  color: var(--button-hover-color);
}

.navbar-links:hover {
  color: var(--button-hover-color);
}

.navbar-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  color: var(--button-hover-color);
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar-links:hover::after {
  transform: scaleX(1);
}

/* Right part of the navbar (Login-Button) */

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Navbar Buttons */

.navbar-login-btn,
.navbar-logout-btn {
  background-color: var(--button-color);
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 1.35rem;
  border: none;
}

.navbar-login-btn:hover,
.navbar-logout-btn:hover {
  background-color: var(--button-hover-color);
  transition: 0.3s ease;
}

@media (max-width: 768px) {
  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }
}
