.login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #364745;
  border-radius: 20px;
  width: 30vw;
  height: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header{
    margin-bottom: 20px;
}

.login-header h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}

.login-header a {
    text-decoration: none;
    color: #34d8f9;
    font-size: 15px;
    position: absolute;
    left: 5%;
    top: 5%;
}

.login-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email-input,
.password-input {
  width: 300px;
  padding: 13px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: black;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 1rem;
}

.login-button a {
  padding: 4px 8px;
  font-size: 25px;
  border-radius: 8px;
  border: 2px solid #364745;
  text-decoration: none;
  color: red;
}

.navbar-login-btn,
.navbar-logout-btn {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border: 2px solid #364745;
}

.login-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 0.5rem;
}

.login-footer a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}