.route-overview-container {
  display: flex;
  padding: 2rem;
  margin-left: 220px;
  margin-right: 50px;
  flex-direction: column;
}

.route-overview-container h1 {
  align-self: center;
  margin-bottom: 3rem;
}

.route-planner-submit-route-button {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
}
