.route-overview-container {
  padding: 1rem;
  color: #eeeeee;
}

.route-container-title {
  margin-bottom: 2rem;
  text-align: center;
  margin-left: 170px;
}

.route-planner-submit-route-button {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--button-color-modern);
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.route-planner-submit-route-button:hover {
  transform: scale(1.03);
}

.route-top-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-self: flex-start;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

body.popup-open {
  overflow: hidden;
}

.popup-content {
  background-color: var(--card-color);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: popup-fadein 0.3s ease-out;
}

.popup-content > input[type="text"] {
  height: 44px;
  background-color: var(--card-color);
  color: #eeeeee;
  border-radius: 0.5rem;
  padding: 0 1rem;
  border: 1px solid grey;
  font-size: 1rem;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.popup-content > input[type="text"]:hover,
.popup-content > input[type="text"]:focus {
  outline: none;
  border-color: #fff;
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.popup-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.popup-buttons button:first-of-type {
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  transition: border-color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    color 0.3s cubic-bezier(0.25, 0.01, 0.25, 1) 0s,
    background 0.2s cubic-bezier(0.25, 0.01, 0.25, 1) 0s;
}

.popup-buttons button:first-of-type:hover,
.popup-buttons button:first-of-type:focus {
  outline: none;
  border-color: #fff;
}

.popup-buttons button:last-of-type {
  position: relative;
  overflow: hidden;
  background: var(--button-color-modern);
  color: white;
  padding: 0.75vw 1vw;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  align-self: center;
  transition: transform 0.3s ease;
}

.popup-buttons button:last-of-type:hover {
  transform: scale(1.03);
}

@keyframes popup-fadein {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
