.footer {
    background-color: #282c34;
    color: white;
    margin-top: 200px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

.footer-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}