.footer {
    background-color: #282c34;
    color: white;
    margin-top: 200px;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
}

.footer-logo {
    height: 5vh;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

/*media*/

@media (max-width: 768px) {
    .footer-logo {
        height: 4vh;
    }
}