* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;
  background-image: url("../assets/new-hero-back.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
  text-align: center;
}

.hero-text {
  max-width: 700px;
  width: 90vw;
  font-weight: 600;
  color: white;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.hero-button {
  background-color: var(--button-color);
  color: #2b2b2b;
  border: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: var(--button-hover-color);
}

.feature-cards-title {
  text-align: center;
  margin: 8vh 1rem 6vh;
  font-size: 2.5rem;
  font-weight: 700;
}

.feature-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto 10rem;
}

.feature-card {
  background: rgba(245, 89, 89, 0.7);
  border-radius: 10px;
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.4);
  font-weight: 900;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
  height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  position: relative;
}

.feature-card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 7px 3px rgba(0,0,0,0.4);
  background: var(--button-hover-color);
}

.feature-card .first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 1;
  border-radius: 15px;
  transition: all 0.4s ease;
}

.feature-card .first-content span {
  margin-top: 1.5rem;
}

.feature-card:hover .first-content {
  opacity: 0;
  height: 0;
}

.feature-card .second-content {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 15px;
  transition: all 0.4s ease;
  font-size: 0;
  transform: rotate(90deg) scale(-1);
  color: white;
}


.feature-card:hover .second-content {
  opacity: 1;
  font-size: 1.2rem;
  padding: 10%;
  transform: rotate(0deg);
}

.gas-icon {
  width: 70px;
  max-width: 100%;
  height: auto;
}

.wave-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -70px;
}

.wave-divider svg {
  display: block;
  width: 100%;
  height: 80px;
}

.dashboard-preview-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  /* max-width: 1200px; */
  margin: 0 auto 5rem;
  overflow-x: hidden;
  height: 45vw;
  background-color: lightgray;
}

.dashboard-preview-icons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
  max-width: 600px;
  flex: 1 1 300px;
}

.macbook-icon {
  width: 90vw;
  max-width: 550px;
  height: 30vw;
  display: block;
}



.macbook-icon,
.iphone-icon {
  margin: -7vw;
}

.iphone-icon {
  width: 15vw;
  max-width: 90px;
  display: block;
  margin-top: 90px;
  margin-bottom: 5px;
}

.dashboard-preview-text {
  flex: 1 1 300px;
  max-width: 400px;
  text-align: right;
  font-size: 1.5rem;
  color: #333;
  margin-left: 8rem;
}

.dashboard-preview-text h2 {
  margin-bottom: 1.5rem;
}

.dashboard-preview-text-highlight {
  color: var(--accent-color);
}



@media (max-width: 1024px) {
  .feature-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 8rem;
  }

  .feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem 0;
  }

  .macbook-icon {
    display: block;
  }
  .iphone-icon {
    display: block;
    position: relative;
    margin-bottom: 5vw;
  }

  

}


@media (max-width: 600px) {
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }

  .feature-card-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }

  .feature-card {
    height: auto;
    padding: 2rem 0;
  }
  .feature-cards-title {
    font-size: 8vw;
  }

  .dashboard-preview-icons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2rem;
  max-width: 600px;
  flex: 1 1 300px;
}

.macbook-icon {
  width: 10vw;
  max-width: 30px;
  height: 30vw;
  display: block;
}

.macbook-icon,
.iphone-icon {
  margin: -7vw;
}

.iphone-icon {
  width: 15vw;
  max-width: 90px;
  display: block;
  margin-top: 90px;
  margin-bottom: 5px;
}
}
