.hero {
  display: flex;
  width: 100%;
  height: 95vh;
  background-image: url("../assets/new-hero-back.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.hero-text {
  margin: auto;
  margin-top: 33vh;
  width: 33vw;
  min-width: 700px;
  text-align: center;
  font-weight: 600;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  color: white;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  color: white;
}

.hero-button {
  background-color: var(--button-color);
  color: #2b2b2b;
  border: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: var(--button-hover-color);
}

/* Feature-Cards */

.feature-cards-title {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.feature-card-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 15rem;
}

.wave-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -70px;
}

.wave-divider svg {
  display: block;
  width: 100%;
  height: 80px;
}

.dashboard-preview-wrapper {
  /* background-color: rgb(222, 222, 222); */
  display: flex;
  align-items: flex-start;
  padding: 2rem;
  gap: 20rem;
  height: 600px;
}

.iphone-icon {
  position: relative;
  left: 450px;
  top: -280px;
  width: 110px;
}

.dashboard-preview-text {
  font-size: 1.5rem;
  text-align: right;
  margin-right: 7rem;
  margin-top: 6rem;
  width: 370px;
}

.dashboard-preview-text h2 {
  margin-bottom: 2rem;
}

.dashboard-preview-text-highlight {
  color: var(--accent-color);
}

.feature-card {
  width: 190px;
  height: 254px;
  background: rgba(245, 89, 89, 0.7);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
  font-size: 30px;
  font-weight: 900;
  overflow: hidden;
}

.feature-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.4);
  background: var(--button-hover-color);
}

.feature-card .first-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
  font-size: 1rem;
}

.feature-card .first-content span {
  margin-top: 1.5rem;
}

.feature-card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.feature-card .second-content {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.feature-card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}

.gas-icon {
  width: 70px;
}
