.hero {
  display: flex;
  height: 98vh;
  background-image: url("../assets/new-hero-back.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text {
  margin: auto;
  margin-top: 33vh;
  min-width: 75%;
  max-width: 95%;
  text-align: center;
  font-weight: 600;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  line-height: 1.1;
  color: white;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 3rem;
  color: white;
}

.hero-button {
  background-color: var(--button-color);
  color: #2b2b2b;
  border: none;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: var(--button-hover-color);
}

/*divider*/

.wave-divider {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -70px;
}

.wave-divider svg {
  display: block;
  height: 80px;
}

.wave-divider svg path {
  fill: rgba(17, 17, 17);
}


 /*Feature-Cards*/
 
.feature-cards-title {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  color: white;
}

.feature-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}

.feature-card {
  width: 200px;
  height: 260px;
  background: rgba(245, 89, 89, 0.7);
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.4);
}

.feature-card:hover {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.4);
  background: var(--button-hover-color);
}

.feature-card .first-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 1;
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
}

.feature-card .first-content span {
  margin-top: 1.5rem;
}

.feature-card:hover .first-content {
  height: 0px;
  opacity: 0;
}

.feature-card .second-content {
  height: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  font-weight: bold;
  transform: rotate(90deg) scale(-1);
  color: white;
}

.feature-card:hover .second-content {
  opacity: 1;
  height: 100%;
  font-size: 1.4rem;
  transform: rotate(0deg);
}


.gas-icon {
  max-width: 70px;
}


/*dashboard preview*/

.dashboard-preview-wrapper {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: rgba(245, 89, 89, 0.7);
  gap: 4rem;
  height: 65vh;
}

.dashboard-preview-icons {
  position: relative;
  width: fit-content;
  margin: auto;
}

.macbook-icon {
  display: block;
  height: auto;
  max-height: 375px;
  min-height: 200px;
  max-width: 600px;
  min-width: 300px;
}

.iphone-icon {
  position: absolute;
  width: 16%;
  bottom: 9%;
  right: 5%;
}

.dashboard-preview-text {
  font-size: 1.5rem;
  text-align: right;
  position: center;
  margin-right: 1rem;
  margin-top: 6rem;
  max-width: 370px;
  color: lightgray;
}

.dashboard-preview-text h2 {
  margin-bottom: 2rem;
  color: white;
}

.dashboard-preview-text-highlight {
  color: var(--accent-color);
}

/*media*/
@media (max-width: 1024px){
  .feature-card {
    width: 300px;
    height: 340px;
  }

  .feature-card .first-content {
  font-size: 1.5rem;
  font-weight: bold;
}

  .feature-card-wrapper {
    grid-template-columns: repeat(2, 300px);
  }
}

@media (max-width: 768px) {
  .dashboard-preview-wrapper {
    flex-direction: column;
    height: auto;
  }

  .dashboard-preview-text {
    max-width: 70vw;
    margin-top: 1rem;
    text-align: center;
    order: 1;
  }

  .dashboard-preview-icons {
    order: 2;
  }

  .feature-card {
    width: 260px;
    height: 300px;
  }

  .feature-card-wrapper {
    grid-template-columns: repeat(1, 260px);
  }
}