.login-page-centered {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e6ecef;
}

.login-card {
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 550px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.login-left,
.login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-left {
    background: #f7f9fb;
}

.login-button-back {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 10;

    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-size: 1rem;
    background-color: var(--button-color);
}

.login-button-back a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--accent-color);
    background-color: #EEEEEE;
}

.signin-button {
    align-self: center;
    margin-top: 40px;
}

.signin-button a {
    padding: 12px;
    width: 70%;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signin-button a:hover {
    background-color: var(--accent-color);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.login-right {
    background: var(--accent-color);
    color: white;
    position: relative;
}

.features {
    max-width: 400px;
}

.features h2 {
    margin-bottom: 10px;
}

.features p {
    font-size: 14px;
    line-height: 1.6;
}