.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  max-width: 100vw;
  height: 60px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 35px;
  width: auto;
  justify-content: left;
  cursor: pointer;
}

.navbar-center {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-links {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.navbar-links.active,
.navbar-links:hover {
  color: var(--button-hover-color);
}

.navbar-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar-links:hover::after {
  transform: scaleX(1);
}


.navbar-right {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}


.navbar-login-btn,
.navbar-logout-btn {
  background-color: var(--button-color);
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 1.35rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-login-btn:hover,
.navbar-logout-btn:hover {
  background-color: var(--button-hover-color);
}


@media (max-width: 768px) {
  .navbar-container {
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: auto auto;
    gap: 10px;
    
  }
  .navbar-center {
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
  }
  .navbar-right {
    gap: 1rem;
    justify-content: center;
    margin-bottom: 5px;
  }

  .navbar-logo {
    display: none;
  }
}
