.route-settings-container{
    margin: 2vh 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.route-settings-container > h2 {
    margin-bottom: 1vh;
    margin-left: 0;
}

.route-settings-container > *{
    margin-left: 2vw;
}

.route-settings-container > label > input[type="number"] {
    margin-left: 1vw;
    max-width: 80px;
    padding: 0.5rem;
    border-radius: 15px;
    font-size: 1rem;
    color: black;
    background-color: white;
    border-color: var(--accent-color);
}

.route-settings-container > label > input[type="number"]:focus {
    border: 1px solid var(--button-color);
    border-color: var(--button-color);
}

.route-settings-container > button {
    width: 10vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: var(--button-color);
    padding: 1em 0;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

/* The switch - the box around the slider */
.switch {
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 1px solid #414141;
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 0.15em;
    bottom: 0.15em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
    box-shadow: 0 0 15px rgba(9, 117, 241, 0.8);
    border: 1.5px solid #0974f1;
}

.switch input:checked + .slider:before {
    transform: translateX(1.5em);
}


