.route-details-container {
    align-self: flex-start;
    margin-left: 10%;
    margin-top: 5vh;
    background: #fdfdfd;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 0.4rem 0.4rem #05060f;
    overflow: hidden;
    color: black;

}

.details-content{

}
