.route-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  flex: 1;
  height: 30vh;
  background-color: #161f29;
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
  gap: 2rem;
  transition: all 0.3s ease;
}

.route-details-container h2 {
  text-align: center;
}

.details-content {
  width: 100%;
  max-width: 600px;
}

.details-content-title {
  font-size: 1.2rem;
}

.details-content p {
  font-size: 1.2rem;
  margin: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5vh;
}

.details-content-title {
  font-weight: 600;
  color: #ffffff;
}

.details-content p span + span {
  text-align: right;
  color: #e0e0e0;
  margin-left: 1rem;
}
