.route-details-container {
    align-self: center;
    background: white;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    width: 75%;
    margin: 3rem;
    padding: 1rem;

}

.details-content{

}
