.sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 170px;
  height: 100vh;
  background-color: var(--card-color);
  color: black;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar-header {
  align-items: center;
  transition: width 0.3s ease;
  /* border-bottom: 2px solid #ccc; */
}

.sidebar-header img {
  width: 120px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-section-title {
  color: grey;
  font-size: 0.8rem;
  padding: 1rem 0 10px 8px;
  letter-spacing: 1px;
  user-select: none;
}

.sidebar-link-menu {
  margin-bottom: 3rem;
}

.sidebar-links {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
  transition: all 0.3s ease;
}

.sidebar-links:hover {
  border-radius: 4px;
  background-color: var(--card-color-light);
}

.sidebar-links > img {
  width: 15px;
}

.sidebar-footer {
  margin-top: auto;
  background: var(--button-color-modern);
  border-top: 1px solid var(--button-hover-color);
  transition: width 0.3s ease;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  border-radius: 0 0 4px 4px;
  height: 40px;
}

.sidebar-footer-title {
  text-decoration: none;
  color: var(--text-light);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 4px 4px;
  transition: all 0.3s ease, box-shadow 0.3s ease;
  padding: 0 15px;
}

.sidebar-footer-title:hover {
  box-shadow: 0 0 10px var(--button-hover-color);
  color: var(--text-light);
  cursor: pointer;
  transform: scale(1.03);
}
