.sidebar-opened {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 14vw;
  min-width: 150px;
  height: 100vh;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar-toggle-opened {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 10px;
}

.sidebar-header-opened {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  background-color: #787171;
  transition: width 0.3s ease;
}

.sidebar-header-opened img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.sidebar-menu-opened {
  list-style: none;
  padding: 0;
  color: black;
  flex: 1;
  overflow-y: auto;
}

.sidebar-menu-title-opened {
  font-size: 0.8rem;
  margin-bottom: 15px;
  margin-top: 20px;
  color: black;
}

.sidebar-links-opened {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
}

.sidebar-links-opened.active {
  background-color: var(--accent-color-light);
  color: var(--accent-color);
  font-weight: bold;
}

.sidebar-links-opened:hover {
  background-color: var(--accent-color-light);
  transform: scale(1.05);
}

.sidebar-footer-opened {
  margin-top: auto;
  background-color: #5279a1;
  transition: width 0.3s ease;
  overflow: hidden;
  padding: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-footer-opened img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Geschlossene Sidebar */

.sidebar-closed {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar-toggle-closed {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px 10px;
}

.sidebar-header-closed {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  background-color: #787171;
  transition: width 0.3s ease;
}

.sidebar-header-closed img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.sidebar-menu-closed {
  list-style: none;
  padding: 0;
  color: black;
  flex: 1;
  overflow-y: auto;
}

.sidebar-footer-closed {
  margin-top: auto;
  background-color: #5279a1;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-footer-closed img {
  width: 20px;
  height: 20px;
}

.sidebar-menu-title-closed {
  font-size: 0.8rem;
  margin-bottom: 15px;
  margin-top: 20px;
  color: black;
}

.sidebar-links-closed {
  text-decoration: none;
  color: black;
  padding: 10px;
  display: block;
  transition: all 0.3s ease;
}

.sidebar-links-closed.active {
  background-color: var(--accent-color-light);
  color: var(--accent-color);
  font-weight: bold;
}

.sidebar-links-closed:hover {
  background-color: var(--accent-color-light);
  transform: scale(1.05);
}

.sidebar-tab {
  position: fixed;
  top: 0px;
  left: max(14vw, 150px);
  width: 25px;
  height: 50px;
  background-color: var(--button-color);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1001;
  transition: left 0.3s ease;
}

.sidebar-closed ~ .sidebar-tab {
  left: 70px;
}