.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  background-color: #181818;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-left {
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.logo {
  height: 40px;
  width: auto;
  display: block;
  border-radius: 50%;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.navbar-center a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

.navbar-center a:hover {
  color: #54bfb3;
  transition: color 0.3s ease;
}

.navbar-right {
  display: flex;
  gap: 10px;
}

.login-btn {
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
}

.login-btn:hover {
  color: #54bfb3;
  background-color: #545656;
  transition: 0.3s ease;
}

.register-btn {
  padding: 8px 16px;
  background-color: #58b4a9;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.register-btn:hover {
  background-color: #54bfb3;
}