/* Gesamte Navbar */
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0.5rem 1rem;
  background-color: #1e1e2f;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;

/* Links in der Mitte */
.navbar_links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* Link-Styling */
.navbar_links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar_links a:hover {
  color: #00bfa6;
}

.navbar_logo {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem; 
}

.navbar_logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
