.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 60px;
  background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar-logo {
  height: 40px;
  width: auto;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-left a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-left .navbar-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #54bfb3;
  transition: width 0.3s ease;
}

.navbar-left a:hover::after {
  width: 100%;
}

.navbar-left a:hover {
  color: #54bfb3;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-login-btn,
.navbar-logout-btn {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border: 2px solid var(--primary-color);
}

.navbar-login-btn:hover,
.navbar-logout-btn:hover {
  color: #54bfb3;
  background-color: #545656;
  transition: 0.3s ease;
}