:root {
  font-family: 'Source Sans Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin-top: 80px;
}

* {
  margin: 0;
  padding: 0;
}