:root {
  font-family: 'League Spartan', sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  font-size: 1rem;

  color-scheme: light dark;
  background-color: #EEEEEE;
  color: rgba(0, 0, 0, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}